*{
	margin : 0;
	padding: 0;
}

label {
	margin: 0;
	padding: 0;
}
.out {
	display: block;
	position: absolute;
	left: 9999px;
}
.board {
	background-color: #222;
	padding: 15px;
	border: 1px solid #bbb;
	background-color: #222; 
}
.title { 
	width:100%;
	margin-top: 10px;
	border-bottom: 1px solid #bbb; 
	border-top: 1px solid #bbb; 
	padding: 6px;
	font-size: 18px;
	color : #e2e2e2;
	}
	
.title-sub{
	font-size : 12px;
	color: #e2e2e2;
	font-weight: normal;
	
}

.nav-tab {
	width: 100%;
}
.nav-tab a {
	width: 50px;
	display:inline-block;
	color : #9ba0a4;
	border: 1px solid #5a5a64;
	border-bottom: none;		
	text-align: center;
	border-collapse: collapse;
}

.board-table {
	text-align: center;
	width: 100%;
}

.board-table tr {
	border-top: 1px solid #5a5a64;
	border-bottom: 1px solid #5a5a64;
	font-size:14px;
	color: #e2e2e2;
	padding: 5px;
	height: 35px;
	
}

#searchType {
	color : #e2e2e2;
	background: #111;
	border: 1px solid #5a5a64;
}

#searchName {
	color : #e2e2e2;
	background: #111;
	border: 1px solid #5a5a64;
}


.title_insert {
	width: 100%;
	border: 1px solid #5a5a64;
	padding: 0;
	border-collapse: collapse;
	box-sizing: border-box;
}

.titleLabel{
	height: 100%;
	margin: 0;
	color : #e2e2e2;
	width: 6%;
	border-right: 1px solid #5a5a64;
	text-align: center;
	background-color: #333;
	box-sizing: border-box;
}

.tap { 
	width: 10%;
	border-bottom: 0;
 }

#title {
	height: 100%;
	margin: 0;
	width: 92%;
	background-color: #222;
	color : #e2e2e2;
	box-sizing: border-box;
	border: none;
	box-shadow: 0;
	padding: 2px;
}

#contents {
	margin-top : 10px;
	padding: 20px;
	width: 100%;
	border: 1px solid #5a5a64;
	border-radius: 8px;
}

.hl { 
	background-color: #333;
	padding-left: 10px;
	}
	
.boardid{
	margin: 0;
	color: #e2e2e2;
	font-size: 14px;
	border-top: none;
	padding-left: 10px;
}

.contents{
	margin: 0;
	color: #e2e2e2;
	border-top: none;
	font-size: 14px;
	padding: 15px;
	background-color: #222;
	min-height: 300px;
    overflow-y: hidden;
    resize: none;
	cursor:auto;
	height: auto;
}

.contents:focus{
	outline: none;
}

.division{
	
	font-size: 12px;
	background-color: #333;
	border-radius: 5px;
	padding: 2px;
	
}