html,body{ height: 100% ; }
header { box-sizing:border-box; width :100%; background-color:#343A40; }
nav{ width:970px; margin:0 auto; }
section { display:block; width:970px; min-height: 100%; margin:0 auto; ; padding-bottom: 100px;  }
#content-wrap { height: auto; min-height: 100% ; }
footer { position: relative; 
width: 100%; 
height: 100px; 
background-color : #343A40;  
transform: translateY(-100%);
 }

.inline-block {display:inline-block; text-align: center;}
.left {float:left; width: 45%}
.right {float:right; width: 45%}

.error { border-color: red ; }

[id*="-error"]{  color : red; font-size:12px; }

.bottom_btn{
	width: 100%;
	height: 100px;
}

#contents {
	height: 500px;
	resize: none;
	
}