* { padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color:#666; 
    outline-style: none; box-sizing: border-box; }
a { text-decoration: none; }
li { list-style: none; }
img { border: none; }
table { border-collapse: collapse; border-spacing: 0px; }
address { font-style: normal; }
fieldset { border: none; }
input[type=button], input[type=submit], input[type=reset], input[type=image], button{ cursor: pointer; }
lable.away { position: absolute; left: -999em; }

body{
	
	background-color: #111 ;

}

.line {
	
	width : 450px;
	height: 5px;
	background-color: #444; 
	
}

.login {
	display:block;
    margin: 0 auto;
    margin-top: 200px;
    display: block;
    width: 400px;
    height: 460px;
    border: none;
    background-color: #222;
    border-radius: 8px; 
    overflow: hidden;   
    text-align: center;
    
}

#login_logo{
	margin-top : 50px;
	display:block;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    
}

.login_box{
    text-align:center;
    box-sizing: border-box;
    display: block;
    width: 400px;
    height: 60px;
    margin-bottom: 3px;
}


.login_text{
    width: 330px;
    height: 45px;
    border: solid 1px #43494C;
    padding: 0 10px;
    color: #e2e2e2;
    background-color: #333;
    font-size: 14px;
    border-radius: 8px;
}

.login_text::placeholder{
    color:#e2e2e2;
}


.btn-login{
    display: block;
    width: 330px;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
}

.login_sub {
    display: block;
    width:  400px;
    height: 80px;
    border: none;
    background-color: #333;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    padding-top : 25px;
}

.login_sub2{ 
    text-align: center;
    float: right;
    width: 150px;
    height: 20px;
    color: #aaa;
    margin-top: 20px;
    margin-left: 52px;
    font-weight: 700;
}
.signup{
    color:#e2e2e2;
   	font-size: 16px;
}
.signup:hover{
	color:#fff;
}

.blue2 {

    background-color: #007bff;

}