.main{
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	background-color: #222;
	color : #e2e2e2;
	font-size: 30px;
}
.btn {
	
	padding: 30px;
	font-size : 20px;
	margin: 10px;
	
}